* {
  /* outline: 1px solid red; */
}

/*! VARIABLES */

:root {
  /** FONT SIZES */
  --F-XXS: 0.25rem;
  --F-XS: 0.5rem;
  --F-SM: 0.75rem;
  --F-NORMAL: 1rem;
  --F-M: 1.25rem;
  --F-L: 1.5rem;
  --F-XL: 1.75rem;
  --F-XXL: 2rem;

  /** COLORS */
  --WHITE: #f5f5f5;
  --BLUE: #118ab2;
  --RED: #df2935;
  --YELLOW: #ff9f1c;
  --BLACK: #333;
}

/*! GENERAL  */

::selection {
  background-color: var(--BLUE);
  color: var(--WHITE);
}

#work,
#info,
#contact {
  scroll-margin-top: 6rem;
}

body {
  background-color: var(--BLACK);
}

body,
.nav-item a,
.card {
  color: var(--WHITE)
}

.navbar,
footer {
  background-color: var(--BLUE);
}

#hero,
#work,
#info,
#contact {
  margin-bottom: 6rem;
}

#info .section-division {
  margin-bottom: 4rem;
}

#skills {
  margin-bottom: 1rem;
}

.section-division {
  margin-bottom: 6rem;
  padding-bottom: 2rem;
}

/*! BORDERS */

.border-bottom,
.border-top {
  border-color: rgba(255, 255, 255, 1);
}

/*! HERO  */

#hero i {
  font-size: 3.5rem;
}

/*! NAV  */

#nav {
  margin-bottom: 3.5rem;
}

#nav img {
  margin-left: 2rem;
}

#nav a {
  margin-left: 2rem;
}

/*! TECH STACK */

#hero i {
  transition: all 0.2s ease-in-out;
  font-size: 3.5rem;
}

.tech-stack i:hover {
  transform: scale(1.2);
}

.tech-stack {
  margin: 3rem 0;
  padding-bottom: 3px;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.fa-html5 {
  color: var(--RED);
}

.fa-css3-alt {
  color: yellowgreen;
}

.fa-js {
  color: var(--YELLOW);
}

.fa-react {
  color: dodgerblue;
}

.fa-bootstrap {
  color: blueviolet;
}


/*! CARD BACKGROUNDS */

/* #hero .card,
#info .card, */
#work .card {
  background-color: rgba(17, 138, 178, 1);
}

#hero .card,
#info .card {
  background-color: var(--BLACK);
}

/*! CARD BORDERS */

#hero .card,
#info .card,
#contact .card {
  /* border: 1px solid rgb(80, 80, 80); */
  border: 0;
}

#work .card {
  border: 2px solid black;
}

#work .card-body {
  border-top: 2px solid black;
}

/*! CARD BUTTONS  */

.card-footer {
  --bs-card-cap-padding-y: 0;
  --bs-card-cap-padding-x: 0;
}

.btn {
  background-color: rgba(0, 0, 0, 9);
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: white;
}

.btn:hover {
  background-color: var(--YELLOW);
}

/*! WORK IMAGES */

.project__1 {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.1) 10%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 1)), url("../images/Travel-California-Desktop.png");
}

.project__2 {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.1) 10%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 1)), url("../images/CSS-Cheatsheet-demo.png");
}

.project__3 {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.1) 10%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 1)), url("../images/Landing-Page-demo.png");
}

.project__4 {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.1) 10%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 1)), url("../images/horiseon-demo.png");
}

.project__5 {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.1) 10%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 1)), url("../images/portfolio-1.jpg");
}

.project__6 {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.1) 10%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 1)), url("../images/portfolio-2.jpg");
}

.project {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*! CONTACT */

#contact a {
  text-decoration: none;
}

#contact i {
  font-size: 3rem;
  scale: 1;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#contact i:hover {
  transform: scale(1.2);
}

.fa-envelope {
  color: var(--RED);
}

.fa-github {
  color: var(--WHITE);
}

.fa-linkedin {
  color: dodgerblue;
}