/*! VARIABLES */

:root {
  /** FONT SIZES */
  --F-XXS: 0.25rem;
  --F-XS: 0.5rem;
  --F-SM: 0.75rem;
  --F-NORMAL: 1rem;
  --F-M: 1.25rem;
  --F-L: 1.5rem;
  --F-XL: 1.75rem;
  --F-XXL: 2rem;

  /** COLORS */
  --WHITE: #f5f5f5;
  --BLUE: #118ab2;
  --RED: #df2935;
  --YELLOW: #ff9f1c;
  --BLACK: #333;
}

/*! GENERAL  */

::selection {
  background-color: var(--BLUE);
  color: var(--WHITE);
}

#about,
#work {
  scroll-margin-top: 8vh;
}

body {
  background-color: var(--BLACK);
}

body,
.nav-item a,
.card {
  color: var(--WHITE)
}

.navbar {
  background-color: var(--BLUE);
}

/*! SECTION DIVIDERS  */

.border-bottom {
  --bs-border-color: var(--WHITE);
}

/*! TECH STACK */

.tech-stack i {
  /* font-size: 4rem; */
  /* margin: 0 1.5vw; */
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

.tech-stack {
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.tech-stack i:hover {
  opacity: 1;
  transform: scale(1.1);
}

.fa-html5 {
  color: var(--RED);
}

.fa-css3-alt {
  color: yellowgreen;
}

.fa-js {
  color: var(--YELLOW);
}

.fa-react {
  color: dodgerblue;
}

.fa-bootstrap {
  color: blueviolet;
}

/*! CARD BUTTONS  */

.card-footer {
  --bs-card-cap-padding-y: 0;
  --bs-card-cap-padding-x: 0;
  /* --bs-card-border-color: white; */
}

.btn {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: var(--BLACK);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: white;
}

.btn:hover {
  background-color: var(--YELLOW);
}

/*! CARD BACKGROUND-COLORS */

#hero .card,
#skills .card {
  --bs-card-bg: rgba(0, 0, 0, 0.50);
  border: 1px solid var(--WHITE);
}

#work .card,
#about .card,
#contact .card {
  --bs-card-bg: rgba(17, 138, 178, 0.75);
  border: 1px solid var(--WHITE);
}

/*! WORK IMAGES */

.project__1 {
  background-image: url("../images/CSS-Cheatsheet-demo.png");
}

.project__2 {
  background-image: url("../images/Landing-Page-demo.png");
}

.project__3 {
  background-image: url("../images/horiseon-demo.png");
}

.project__4 {
  background-image: url("../images/portfolio-1.jpg");
}

.project__5 {
  background-image: url("../images/portfolio-2.jpg");
}

.project__6 {
  background-image: url("../images/portfolio-3.jpg");
}

.project {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*! ACCORDION COLORS */

/*! CONTACT STYLES */

#contact a {
  text-decoration: none;
}

#contact i {
  scale: 1;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#contact i:hover {
  transform: scale(1.2);
}

.fa-envelope {
  color: var(--RED);
}

.fa-github {
  color: var(--BLACK);
}

.fa-linkedin {
  color: dodgerblue;
}